{#
SPDX-FileCopyrightText: 2023 Tecnología de Raíz <tecnologiaderaiz@disroot.org>

SPDX-License-Identifier: CC0-1.0
#}
<h1>
Tecnología de Raíz
</h1>
<a href="https://tecnologiaderaiz.github.io/en/"> English</a>
